<div class="page">
    <div class="container h-100">
        <div class="row w-100">
            <div class="col login-img text-center">
                <!-- <img class="card-img-left text-center" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                        alt="Card image cap">    -->
                <h3 class="image-caption"><b>Welcome to API Monitoring</b></h3>
            </div>

            <div class="col text-left align-self-center">
                <div class="card-form">
                    <form>

                        <h4 class="card-title mb-4"><a>Sign Up</a></h4>

                        <div class="inner-addon left-addon form-group mb-4">
                            <!-- <i class="glyphicon glyphicon-user ti-user"></i> -->
                            <input type="text" class="form-control " placeholder="Username"
                                [(ngModel)]="username" [ngModelOptions]="{standalone: true}" ng-required="true"/>
                        </div>

                        <div class="inner-addon left-addon form-group  mb-4">
                            <!-- <i class="glyphicon glyphicon-user ti-lock"></i> -->
                            <input type="password" class="form-control" placeholder="Password"
                                [(ngModel)]="password" [ngModelOptions]="{standalone: true}" ng-required="true"/>
                        </div>
                        
                        <div class="inner-addon left-addon form-group  mb-4">
                            <!-- <i class="glyphicon glyphicon-user ti-lock"></i> -->
                            <input type="password" class="form-control" placeholder="Confirm Password"
                                [(ngModel)]="cpassword" [ngModelOptions]="{standalone: true}" ng-required="true"/>
                        </div>

                        <small *ngIf='invalidLogin1'>{{errorMessage}}</small>
                        <div class="form-group mt-4">
                            <button class="btn btn-lg btn-primary px-5 py-2 mr-5" (click)="submitData()">Sign
                                Up</button>
                            <button class="btn btn-lg btn-primary px-5 py-2 mr-6" (click)="Login()">Login</button>
                            <!-- <a class="forgot-password ml-5 px-md-5" routerLink="login">Login</a> -->
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>